<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Font/Kodchasan-BoldItalic.ttf</string>
		<string>Font/Kodchasan-Bold.ttf</string>
		<string>Font/Kodchasan-ExtraLight.ttf</string>
		<string>Font/Kodchasan-ExtraLightItalic.ttf</string>
		<string>Font/Kodchasan-Italic.ttf</string>
		<string>Font/Kodchasan-Light.ttf</string>
		<string>Font/Kodchasan-LightItalic.ttf</string>
		<string>Font/Kodchasan-Medium.ttf</string>
		<string>Font/Kodchasan-MediumItalic.tff</string>
		<string>Font/Kodchasan-Regular.tff</string>
		<string>Font/Kodchasan-SemiBold.tff</string>
		<string>Font/Kodchasan-SemiBoldItalic.tff</string>
	</array>
</dict>
</plist>
